# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TemperatureJam.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ofeka\Desktop\Studies\Jams\TemperatureJam\.idea\.idea.TemperatureJam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
